.loginContainer {
  background-image: url("assets/Images/Contactus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
