.heroContainer {
  position: absolute; /* Remove it from normal document flow */
  top: 50%; /* Position halfway down the viewport */
  left: 50%; /* Position halfway across the viewport */
  transform: translate(
    -50%,
    -50%
  ); /* Offset its own dimensions to center it exactly */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
  background: #fcfcfc;
  box-shadow: 0px -2px 10px 0px rgba(34, 43, 69, 0.25);
  z-index: 100;
}

.roadTrip img {
  background: transparent;
  object-fit: contain;
  height: 30px;
  width: 40px;
}
